@import "~normalize.css";
@import "global";

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #890;
}

.info__item {
    padding: 20px;
    padding-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.info__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    h4 {
        margin: 0;
        color: #678;
    }
}

.btn {
    all: unset;
    background-color: lightgrey;
    color: #f30;
    font-size: 24px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
